<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Nom</th>
                   <th scope="col">Prénom</th>
                  <th scope="col">Adresse</th>
        <th scope="col">Wilaya</th>
         <th scope="col">Zip</th>
                <th scope="col">Date</th>
       <th scope="col">Nom du produit </th>
             <th scope="col">Description </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ca of list">
            <td>{{ca.name}}</td>
            <td>{{ca.lastname}}</td>
         <td>{{ca.address}}</td>
                  <td>{{ca.wilayas}}</td>
                      <td>{{ca.zip}}</td>
                <td>{{ca.createdAt}}</td>
                   <td>{{ca.product_id.nom}}</td>
                      <td>{{ca.product_id.desc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
