<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Admin dashboard</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
<mat-sidenav #sidenav opened="true" mode="side">
  <mat-nav-list>
    <a [routerLink]="['/products']" routerLinkActive="router-link-active"  mat-list-item>Liste des produits</a>
    <a [routerLink]="['/addProduct']" routerLinkActive="router-link-active" mat-list-item>Ajouter un produit</a>
        <a [routerLink]="['/addCateogire']" routerLinkActive="router-link-active" mat-list-item>Ajouter une catégorie</a>
       <a [routerLink]="['/categories']" routerLinkActive="router-link-active" mat-list-item>Liste des catégories</a>
              <a [routerLink]="['/order']" routerLinkActive="router-link-active" mat-list-item>Liste des ordres</a>
  </mat-nav-list>
</mat-sidenav>
<mat-sidenav-content>
  <div style="height: 92vh">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>
